body{

background-image: url(../img/Registarse\ 15.png);
background-size: cover;
 background-repeat: no-repeat;  
  background-position: center;   
  background-attachment: fixed; 
  margin: 0;                     
  padding: 0;
  height: 100vh; 
  width: 100vw;       
}
.container{
  display: flex;
  justify-content: center;
}
.caja{
  display: flex;
  max-width: 70vw;
}
#section{
  padding: 10vh;
}
.section{
  display: flex;
  align-items: flex-end;
}
.titulo > img{
  width: 70%;
  height: 20vh;
}

.titulo{
  text-align: center;
}
.siguientee{
  
  color: #fff; 
  border:4px solid white; 
  border-radius: 18px; 
  padding: 2vh;
  font-size: 3vh;
  font-family: 'Segoe UI', sans-serif;  
  width: 13vw;
  font-weight: 510;
  background-color: #00458D; 
}
.titulo1{
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 150%;
  font-weight: 450;
width: 290vh;
    margin-top: -2%; 
  }
  
  .titulo2{
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 150%;
  font-weight: 450;
  width: 290vh;
  margin-top: 5vh;
  
  }
  
  .titulo3{
  font-family: 'Orbitron', sans-serif;
  color: white;
  margin-top: 4vh;
  font-size: 150%;
  font-weight: 450;
  width: 290vh;
  }

  .anillotutorial > img{
    width: 70%;
    aspect-ratio: 1/1;
  }
  .tutorialdedos > img{
    width: 70%;
    aspect-ratio: 1/1;
  }


.anillos img{
margin-left: 0vh;
margin-top: -7vh;
}


.dedos img{
margin-left: 00vh;
margin-top: 2vh  ;
}


.river img{

margin-left: 0vh;
margin-top: 2vh;
}






.siguientee{
  
  color: #fff; 
    border: 4px solid white; 
    border-radius: 18px; 
    padding: 2vh; 
    font-size: 25px;
    font-family: 'Segoe UI', sans-serif;  
    width: 45vh;
    font-weight: 510;
    background-color: #00458D; 
    position: relative;   /* permite mover el botón */
    left: -5vh;          /* lo mueve 10vh hacia la izquierda */
    top: -3vh;
  }
  



