body{

background-image: url(../img/Registarse\ 15.png);
background-size: cover;
 background-repeat: no-repeat;  
  background-position: center;   
  background-attachment: fixed; 
  margin: 0;                     
  padding: 0;
  height: 100vh; 
  width: 100vw;       
}
.container{
  display: flex;
  justify-content: center;
}
.caja{
  display: flex;
  max-width: 70vw;
}
#section{
  padding: 10vh;
}
.section{
  display: flex;
  align-items: flex-end;
}
.titulo > img{
  width: 70vw;
  height: 20vh;
}

.titulo{
  text-align: center;
}
.siguientee{
  
  color: #fff; 
  border:4px solid white; 
  border-radius: 18px; 
  padding: 2vh;
  font-size: 3vh;
  font-family: 'Segoe UI', sans-serif;  
  width: 13vw;
  font-weight: 510;
  background-color: #00458D; 
}
.titulo1{
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 3vh;
  font-weight: 450;
    white-space: normal; 
  }
  
  .titulo2{
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 3vh;
  font-weight: 450;
    white-space: normal; 
  }
  
  .titulo3{
  font-family: 'Orbitron', sans-serif;
  color: white;
    white-space: normal; 
  font-size: 3vh;
  font-weight: 450;
  }
  .anillotutorial > img{
    width: 70%;
    aspect-ratio: 1/1;
  }
  .tutorialdedos > img{
    width: 70%;
    aspect-ratio: 1/1;
  }
/*

.anillos img{
margin-left: 90px;
margin-top: 90px;
}

.dedos img{
margin-left: 90px;
margin-top: 60px  ;
}

.river img{

margin-left: 90px;
margin-top: 50px;
}

.titulo img{
display: block;
margin: 0% auto;
width: 900px;
margin-top: 40px;
}



.siguientee{
color: #fff; 
  border:4px solid white; 
  border-radius: 18px; 
  padding: 24px 30px; 
  font-size: 30px;
  font-family: 'Segoe UI', sans-serif;  
  width: 350px;
  font-weight: 510;
  background-color: #00458D; 
margin-left: 1500px;
}

.anillotutorial{
  position: absolute;
  right: 250px;
  top: 150px;
  width: 330px; 
  height: auto;
}


.anillotutorial > img{
  display: block;
  width: 330px;
  margin: 0;
}


.tutorialdedos{
  position: absolute; 
  left: 0px;       
  top: 250px;          
  z-index: 10;
}
.tutorialdedos img{
  width: 300px;
  margin: 0;
  display: block;
}
