
h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: #ff0000; /* Rojo brillante */
    text-shadow:
      0 0 5px #080808,
      0 0 10px #ff0000,
      0 0 20px #8b0000,
      0 0 30px #8b0000,
      0 0 40px #ff0000;
    padding: 17px;
  }

  h3 {
      font-size: 25px;
      text-decoration: underline;
      color: white;
  }
h4 {
    font-size: 20 px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    color: white;
}

body {
  background-image:url(https://media.istockphoto.com/id/1370110270/es/vector/cielo-estrellado-nocturno-fondo-espacial-oscuro-con-estrellas.jpg?s=612x612&w=0&k=20&c=MmTdL6oocjxHbDBYPilefJ67RkX1vRryvF4xsOp7Sm0=)
}

div {
  background-color: red;
}

img {
  
}