body{

   background-image: url(../img/Registarse\ 15.png); 
  
}


.siguienteee{
  position: fixed;          
  left: 90%;           
  transform: translateX(-50%);
  bottom: 5vh;         
  color: #fff;
  border: 4px solid white;
  border-radius: 16px;
  padding: 3vh 30px;
  font-size: 4vh;
  font-family: 'Segoe UI', sans-serif;
  width: 37vh;
  font-weight: 510;
  background-color: #00458D;
  margin: 0;               
}
.titulo img{
display: block;
margin: 0% auto;
width: 130vh;
margin-top: 40px;
}
.titulo1{
font-family: 'Orbitron', sans-serif;
color: white;
font-size: 180%;
font-weight: 450;
width: 1000px; 
  white-space: normal; 
  margin-left: 10vh;
  margin-top: 60px;
    
}

.titulo2{
color: white;
font-family: 'Orbitron', sans-serif;
font-size: 180%;
font-weight: 450;
width: 80%; 
  white-space: normal; 
  margin-left: 10vh;
  margin-top: 70px;
}

.mano img{
    width: 60vh;
    margin-top: 50px;
    margin-left: 1000px;
    margin-top: -550px;
}

