

body{
background-image: url(../img/Registarse\ 15.png);
}

#registro {
  display: flex;
  justify-content: center;
  color: #fff; 
  border: 3px solid white; 
  border-radius: 14px; 
  padding: 10px 30px; 
  font-size: 18px;
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
  display: inline-block;
  width: 195px;
  font-weight: 500;
  background-color: #00458D;
  display: block;
  margin: 0 auto;
}


.registro:hover {
  background: linear-gradient(180deg, #2a5298, #1e3c72);
  transform: scale(1.05);
}
.campo {
    position: relative;
    width: 250px;
    margin-bottom: 10px;
  }
  
  
  .campo input {
    width: 100%;
    height: 30px;
    padding: 5px 35px 5px 10px;
    box-sizing: border-box;
  }
  
  
  .campo .ojo {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
  }
  
  
  #usuario {
    width: 250px;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
  }

  
  

  #usuario{
    width: 250px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 2px solid #ffffff;
    border-radius: 6px;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Orbitron', sans-serif; 
    outline: none;
    transition: 0.3s;
  }
  
  #usuario::placeholder {
    color: #ffffff;
    opacity: 0.8;
  }

  #contrasena{

      width: 250px;
      padding: 10px 15px;
      margin: 10px 0;
      border: 2px solid #ffffff;
      border-radius: 6px;
      background-color: transparent;
      color: #ffffff;
      font-size: 14px;
      font-family: 'Orbitron', sans-serif; 
      outline: none;
      transition: 0.3
  }

  #contrasena::placeholder {
    color: #ffffff;
    opacity: 0.8;
  }

  .rectangulo {
    display: flex;  
    background-color: #ffffff40;
    border: 4px solid #CCC9C9;  
    border-radius: 20px;    
    width: 580px;
    margin: 0 auto;
    width: 600px;
    height: 550px;
    margin-top: 36px;
    opacity: "";
  }
  
  .rectangulo img {
    width: 100%;
    display: block;
  }
  

  
  .titulo img {
    width: 900px;            
  }
  

