
body {
  background-image: url(../img/Registarse\ 15.png);
  
}


#rectangulo {
  background-color: #ffffff40;
  border: 4px solid #CCC9C9;
  border-radius: 20px;
  width: 600px;
  height: 550px;
  margin: 0 auto;
  margin-top: 5vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 20px;
}


.titulo {
  display: flex;
  justify-content: center; 
  width: 170%;  
  margin-top: 1vh;  
}

.titulo img{

  width: 300px;;

}

#rectangulo img {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}


/* Para el input de usuario */
#usuario {
  background-color: #002750;
  width: 450px;
  padding: 14px 15px;
  margin: 45px auto; 
  display: block;   
  border: 4px solid #ffffff;
  border-radius: 6px;
  color: #ffffff;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif; 
  outline: none;
  transition: 0.3s;
  position: relative;top: 32px;
  color: #ffffff;
}



#contrasena {
  padding: 14px 15px;
  background-color: #002750;
  border: 4px solid #ffffff;
  border-radius: 6px;
  color: #ffffff;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif; 
  transition: 0.3s;
  margin: 100px auto;
  display: block;           
  width: 450px;        
  margin-top: 15px;
  color: #ffffff;
}

.ojo {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}


#iniciocesion {
   color: #fff; 
  border: 3px solid white; 
  border-radius: 14px; 
  padding: 15px 30px; 
  font-size: 26px;
  font-family: 'Segoe UI', sans-serif;  
  width: 220px;
  font-weight: 500;
  background-color: #00458D;
  display: block;       
  margin-top: -55px;
margin-left: auto;
margin-right: auto;
  text-align: center;
  margin-top: -20px;   
}

#iniciocesion:hover {
  transform: scale(1.05);
  background-color: #005fb8;
}

#usuario::placeholder { color: #ffffff; opacity: 1; }      
#usuario::-webkit-input-placeholder { color: #ffffff; }    
#usuario::-moz-placeholder { color: #ffffff; opacity: 1; } 
#usuario:-moz-placeholder { color: #ffffff; opacity: 1; }  
#usuario:-ms-input-placeholder { color: #ffffff;   }

#contrasena::placeholder { color: #ffffff; opacity: 1; }     
#contrasena::-webkit-input-placeholder { color: #ffffff; }   
#contrasena::-moz-placeholder { color: #ffffff; opacity: 1; }
#contrasena:-moz-placeholder { color: #ffffff; opacity: 1; }  
#contrasena:-ms-input-placeholder { color: #ffffff; }
