body {
  background-image: url(../img/Registarse\ 15.png);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

#mano {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -260px;
}

#mano img {
  width: 650px;
}


#mano select {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #ffffffb0;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;
}


#indice {
  top: 50px;
  left: 38%;
  margin-top: 250px;
  width: 100px;   
  height: 30px;   
  opacity: 0;

}

#medio {
  top: 60px;
  left: 56%;
  margin-top: 190px;
  width: 100px;   
  height: 30px;    
  opacity: 0;
}

#anular {
  top: 50px;  
  left: 70%;
  margin-top: 240px;
  width: 100px;   
  height: 30px;   
opacity: 0;
}

#meñique {
  top: 45px;
  left: 82%;
  margin-top: 330px;
  width: 100px;   
  height: 30px;  
  opacity: 0;

}


#mano {
  position: relative; 
  width: 600px; 
  margin: 0 auto; 
  margin-top: -220px;
}

#guardar {
  position: absolute; 
  top: 700px;       
  left: 50%;         
  transform: translateX(-50%);
  padding: 11px 25px;
  background-color: #002750;
  color: white;
  border: 4px solid #ffffff;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
}

#titulo {
  display: flex;
  justify-content: center; 
  align-items: center;     
}

#titulo img {
  width: 700px;
  margin-top: 10px;
}

#ayuda{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    position: fixed;       
    bottom: 30px;         
    right: 30px;           
    cursor: pointer;
    z-index: 1000;        
  
  
}